.panel{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.operation{
    margin-left: 107px;
}

.result{
    width: 30px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(154, 85, 218);
    border-radius: 10px;
    color: white;
    pointer-events: none;
}

input{
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(154, 85, 218);
    border-radius: 10px;
    color: white;
}

button{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
}