body {
    background: #1E1F29;
} 

h1 {
    font-family: 'Andale Mono', monospace;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: #fafafa;
    width: 527px;
    height: 43px;
    margin: 48px 0px 32px 133px;
}

input,
select,
textarea {
    background-color: #2E2D3D;
    color: #FAFAFA;
}

textarea {
    line-height: 1.5;
}

input{
    background: #2e2d3d;
}
.input_email, .input_telegram, .input_topic, .textarea_text{
    border-radius: 10px;
    width: 697px;
    height: 58px;
    background: #2e2d3d;
    position: relative;
}

.input_email{
    margin-bottom: 13px;
    margin-left: 48px;
    margin-right: 48px;
}

.input_email img label input{
    position: absolute;
}

.input_email img {
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 17px 8px 17px 16px;
}

.input_email label {
    width: 40px;
    height: 14px;
    position: absolute;
    margin: 12px 0px 32px 48px;
}

.input_email input {
    width: 114px;
    height: 19px;
    padding: 0px;
    border: none;
    position: absolute;
    margin: 27px 0px 12px 48px;
}

.input_telegram{
    margin-bottom: 19px;
    margin-left: 48px;
    margin-right: 48px;
}

.input_telegram img {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 20px 8px 14px 16px;
}

.input_telegram label {
    position: absolute;
    width: 50px;
    height: 14px;
    margin: 15px 0px 29px 48px;
}

.input_telegram input {
    width: 114px;
    height: 19px;
    padding: 0px;
    border: none;
    position: absolute;
    margin: 30px 0px 9px 48px;
}

.input_topic {
    margin-bottom: 16px;
    margin-left: 48px;
    margin-right: 48px;
}

.input_topic img {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 17px 8px 17px 16px;
}

.input_topic label {
    position: absolute;
    width: 32px;
    height: 14px;
    margin: 12px 0px 32px 48px;
}

.input_topic select {
    width: 100%;
    width: 166px;
    height: 19px;
    padding: 0px 0px 0px 0px;
    border: none;
    position: absolute;
    margin: 27px 0px 12px 48px;
}

.textarea_text{
    width: 697px;
    height: 135px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
}

.textarea_text label {
    position: absolute;
    width: 77px;
    height: 14px;
    margin: 12px 0px 1px 24px;
}

.textarea_text textarea {
    padding: 0px 0px 0px 0px;
    width: 649px;
    height: 96px;
    border: none;
    position: absolute;
    margin: 27px 24px 12px 24px;
    resize: none;
}

[type = "submit"]{
    padding: 0;
    border: none;
    border-radius: 10px;
    margin: 0px 0px 48px 48px;
    width: 697px;
    height: 46px;
    background: #6c38cc;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #fafafa;
}

/* input:valid{
    background-color: green;
}

input:invalid {
    background-color: red
} */