*{
    box-sizing: border-box;
}
body {
    background: #1E1F29;
} 

main{
    border-radius: 10px;
    padding: 48px;
    margin: 0 auto;
    background-color: #37384b;
    max-width: 600px;
    min-width: 360px;
}
h1 {
    color: #fafafa;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Andale Mono', sans-serif;
    text-align: center;
    margin: 0 0 32px 0;
}

.input_email,
.input_telegram,
.input_topic,
.textarea_text {
    margin-bottom: 16px;
    position: relative;
}

input,select,textarea {
    background-color: #2E2D3D;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Andale Mono', sans-serif;
    padding: 27px 48px 12px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #4a4863;
    font-size: 16px;
}

label {
    position: absolute;
    top: 12px;
    left: 48px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FAFAFA;

}

img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 17px;
    left: 16px;
}

[type = "submit"]{
    padding: 0;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    background: #6c38cc;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #fafafa;
}

/* input:valid{
    background-color: green;
}

input:invalid {
    background-color: red
} */