*{
    box-sizing: border-box;    
}

body{
    font-family: "Comfortaa", cursive;
    margin:0;
    background: rgba(243, 246, 253, 1);;

}

.app{
    display: flex;
}

.logo{
    margin-bottom: 50px;
}

.panel{
    background: white;
    min-height: 100vh;
    padding: 30px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}

.menu__item{
    background: #ffffff;
    box-shadow: 0px 8px 14px rgba(62,107,224,0.12);
    border-radius: 14px;
    border: none;
    height: 45px;
    width: 45px;
}