#heroButton {
    background: #4262ff;
    line-height: 150%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: 1px solid #4262ff;
    border-radius: 32px;
    width: 440px;
    height: 51px;
    padding: 0;
    box-sizing: border-box;
}

#heroButton:hover {
     background-color: #1e37af;
}

#heroButton:active {
    background-color: #1a085c;
}

/* .heroForm input:focus{
    background-color: rgb(240, 255, 241);
} */

/*
ul li:first-child{
    color: #4262FF;
}
*/

/*
ul li:nth-child(2){ 
    color: red;
}
*/ /*2n odd even 2n-1*/

/* p:not(.sectionText){
    color: aqua;
} */

.link {
    color: #4262FF;
    text-decoration: none;
}

.link:hover {
    color: #1e37af;
    text-decoration: underline;
}

h1,
h2 {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: 0.02em;
    color: #050038;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
}

.heroText {
    color: #050038;
    margin: 0 0 55px 0;
}

.sectionText {
    color: rgba(5, 0, 56, 0.6);
}

header a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #050038;
    text-decoration: none;
}

.heroForm + p {
    font-size: 14px;
    line-height: 20px;
}

/* a::after{
    color: red;
    content: "!" ;
}
a::before {
    color: red;
    content: "!";
}

*::selection{
    background-color: aqua;
} */

nav ul{
    list-style: none;
}

/* .sectionList{
    list-style-type: none;
    list-style-image: url('../images/check.svg');
} */
 
/* .sectionList ::marker {
    content: url(../images/check.svg);
} */

h1{
    margin: 60px 0px 17px;
}

h2 {
    margin: 0px 0px 19px;
}

#email{
    border: 1px solid #9b99af;
    border-radius: 32px;
    width: 440px;
    height: 48px;
    padding: 0px;
    box-sizing: border-box;
}
.sectionText{
    margin-bottom: 39px;
}

footer{
    width: 100%;
    background: #050038;
}
footer ul{
    list-style-type: none;
}

footer a{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #fff;
    text-decoration: none;
} 

ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

body{
    margin: 0px;
}

header{
    border-bottom: 1px solid #F0F0F0;
}
nav{
    padding: 33px 50px;
}
.exp div{
    width: calc(100%/3);
    height: 200px;
    background-color: #050038;
    margin: 10px;
    color: white;
    font-size: 24px;
}