#heroButton {
    background: #4262ff;
    border: 1px solid #4262ff;
    border-radius: 32px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    padding: 10px 145px 14px 130px;
    font-size: 18px;
}

#heroButton:hover {
     background-color: #1e37af;
}

#heroButton:active {
    background-color: #1a085c;
}

.heroForm input:focus{
    background-color: rgb(240, 255, 241);
}

/*
ul li:first-child{
    color: #4262FF;
}
*/

/*
ul li:nth-child(2){ 
    color: red;
}
*/ /*2n odd even 2n-1*/

/* p:not(.sectionText){
    color: aqua;
} */

.link {
    color: #4262FF;
    text-decoration: none;
}

.link:hover {
    color: #1e37af;
    text-decoration: underline;
}

h1,
h2 {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: 0.02em;
    color: #050038;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
}

.heroText {
    color: #050038;
}

.sectionText {
    color: rgba(5, 0, 56, 0.6);
}

ul a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #754943;
    text-decoration: none;
}

.heroForm + p {
    font-size: 14px;
    line-height: 20px;
}

/* a::after{
    color: red;
    content: "!" ;
}
a::before {
    color: red;
    content: "!";
}

*::selection{
    background-color: aqua;
} */

nav ul{
    list-style: none;
}

/* .sectionList{
    list-style-type: none;
    list-style-image: url('../images/check.svg');
} */
 
.sectionList ::marker {
    content: url(../images/check.svg);
}

body {
    color: blueviolet;
}